
<div class="container my-5">
    <div class="jumbotron bg-secondary rounded container">
        <h1 class="display-4">About this Todos App</h1>
        <p class="lead">This is a simple  Todos app made with angular for learning purpose while doing training in AtgenX Solutions (25 June 2021)</p>
        <hr class="my-4">
        <p>I've used basic angular features in thi app like ngClass, ngSubmit and other directives, Event handling in buttons, EventEmitter, routing, etc. </p>
        
    </div>
</div>